<%- include('../admin/layout/adminSidebar.ejs') -%>
<%- include('../admin/layout/adminHeader.ejs') -%>

<script>
  $(document).ready(function () {
            const newcategory = $('#newCategory');
            const submitButton = newcategory.find('button[type="submit"]');
            
            newcategory.submit(function (event) {
              if (!validateForm()) {
                event.preventDefault();
              }
            });
            
            // Use input event to trigger validation on user input
            newcategory.find('input').on('input', function () {
              validateForm();
            });
            
            function validateForm() {
              let isValid = true;
              console.log("asd");
              
              // Clear existing error messages
              $('#c1ategoryErrorMessage').text(''); // Clear category error message

              // Validate category name
              const nameOfCategory = $('#exampleInputName1').val().trim();
              if (nameOfCategory === '') {
                  console.log("catoname", nameOfCategory);
                  $('#c1ategoryErrorMessage').text('Category name is required.');
                  isValid = false;
              } else if (nameOfCategory.length > 25) {
                  $('#c1ategoryErrorMessage').text('Category name must not exceed 25 characters.');
                  isValid = false;
              }

              // Enable/disable the submit button based on the overall validation status
              $('#submitButton').prop('disabled', !isValid);

              return isValid;
          }
        });
</script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add New Category</h4>
        
        <form class="forms-sample" id="newCategory" action="/admin/addCatogory" method="post">
          <div class="form-group">
            <label for="exampleInputName1">Name of Category</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Category Name" name="categoryName">
            
            <span id="c1ategoryErrorMessage" style="color: red; display: block;"></span>
            <span id="categoryErrorMessage" style="color: red; display: block;"><%= locals.categoryErrorMessage %></span>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>


  <%- include('../admin/layout/adminFooter.ejs') -%>