<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RusticLens | Admin</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/user/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/user/css/style.css">
    <script>
        function clearErrorMessage(fieldId) {
            const errorMessage = document.getElementById(fieldId);
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }
    </script>

</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                            <figure><img src="/user/images/signin-image.jpg" alt="sing in image"></figure>
                    </div>

                    <div class="signin-form">
                        
                        <h2 class="form-title">Sign in</h2>

                        <form method="post" class="register-form" action="/admin/login" id="login-form">

                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="adminEmail" id="email" placeholder="Admin's Email" oninput="clearErrorMessage('emailErrorMessage')">
                                <span id="emailErrorMessage" style="color: red;"><%= locals.emailErrorMessage %></span>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="adminPassword" id="your_pass" placeholder="Password" oninput="clearErrorMessage('passwordErrorMessage')">
                                <span id="passwordErrorMessage" style="color: red;"><%= locals.passwordErrorMessage %></span>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" name="signin" id="signin" class="form-submit" value="Log in">Sign in</button>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    
    <script>
        // Call clearErrorMessage when any input field is changed
        const inputFields = document.querySelectorAll('input');
        inputFields.forEach((input) => {
            input.addEventListener('input', clearErrorMessage);
        });
    </script>
    <script src="/user/vendor/jquery/jquery.min.js"></script>
    <script src="/user/js/main.js"></script>
</body>
</html>