<!DOCTYPE html>
<html lang="en">

<head>

     <title>MIND VIBES</title>
     <!--

Template 2098 Health

http://www.tooplate.com/view/2098-health

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/animate.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet"
          href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/tooplate-style.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          rel="stylesheet">
     <script
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script
          src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>

<body id="top" data-spy="scroll"
     data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     <!-- HEADER -->
     <header>
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-5">
                         <p>Welcome to a Professional mind
                              Care</p>
                    </div>

                    <div
                         class="col-md-8 col-sm-7 text-align-right">
                         <span class="phone-icon"><i
                                   class="fa fa-phone"></i>
                              940 036 6533</span>
                         <span class="date-icon"><i
                                   class="fa fa-calendar-plus-o"></i>
                              6:00 AM - 10:00 PM
                              (Mon-Fri)</span>
                         <span class="email-icon"><i
                                   class="fa fa-envelope-o"></i>
                              <a
                                   href="mailto:mindvibes@gmail.com">mindvibes@gmail.com</a></span>
                    </div>

               </div>
          </div>
     </header>


     <!-- MENU -->
     <section
          class="navbar navbar-default navbar-static-top"
          role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle"
                         data-toggle="collapse"
                         data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand"><i
                              class="fa fa--square"></i>MY
                         MIND VIBES</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#top"
                                   class="smoothScroll">Home</a>
                         </li>
                         <li><a href="#about"
                                   class="smoothScroll">About
                                   Us</a></li>
                         <li><a href="#team"
                                   class="smoothScroll">WHAT
                                   WE CAN PROVIDE</a></li>
                         <li><a href="#news"
                                   class="smoothScroll">News</a>
                         </li>
                         <li><a href="#google-map"
                                   class="smoothScroll">Contact</a>
                         </li>
                         <li class="login-register-btn">
                              <% if(!user.name){ %>
                                   <a href="/logout"
                                        class="smoothScroll">
                                        <div
                                             class="d-inline">
                                             <p>
                                                  <%= user.name
                                                       %>

                                                       Logout<i
                                                            class="fa fa-sign-out"></i>
                                             </p>
                                        </div>
                                   </a>
                                   <% }else{ %>
                                        <a href="javascript:void(0);"
                                             data-toggle="modal"
                                             data-target="#authModal"
                                             class="smoothScroll">
                                             <div
                                                  class="d-inline">
                                                  <p> Login
                                                       /
                                                       Register
                                                       <i
                                                            class="fa fa-sign-in"></i>
                                                  </p>
                                             </div>
                                        </a>
                                        <% } %>
                         </li>
                    </ul>
               </div>

          </div>
     </section>
     <div class="modal fade" id="authModal" tabindex="-1"
          role="dialog" aria-labelledby="authModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title"
                              id="authModalLabel">Login /
                              Register</h5>
                         <button type="button" class="close"
                              data-dismiss="modal"
                              aria-label="Close">
                              <span
                                   aria-hidden="true">&times;</span>
                         </button>
                    </div>
                    <div class="modal-body">
                         <!-- Login Form -->
                         <div id="loginForm"
                              class="auth-form">
                              <h3>Login</h3>
                              <form method="post"
                                   action="/auth/login">
                                   <div class="form-group">
                                        <label
                                             for="loginEmail">Email</label>
                                        <input type="email"
                                             name="login-email"
                                             class="form-control"
                                             id="loginEmail"
                                             placeholder="Enter your email">
                                   </div>
                                   <div class="form-group">
                                        <label
                                             for="loginPassword">Password</label>
                                        <input
                                             type="password"
                                             class="form-control"
                                             id="loginPassword"
                                             placeholder="Enter your password">
                                   </div>
                                   <div class="form-group">
                                        <div
                                             class="custom-control custom-checkbox">
                                             <input
                                                  type="checkbox"
                                                  class="custom-control-input"
                                                  id="rememberMe">
                                             <label
                                                  class="custom-control-label"
                                                  for="rememberMe">Remember
                                                  Me</label>
                                        </div>
                                   </div>
                                   <button type="submit"
                                        class="form-control btn btn-primary"
                                        id="cf-submit">Login</button>
                              </form>
                              <p class="text-center mt-3">
                                   Don't have an account? <a
                                        href="javascript:void(0);"
                                        id="showRegister">Register
                                        here</a></p>
                         </div>

                         <!-- Register Form (Hidden initially) -->
                         <div id="registerForm"
                              class="auth-form"
                              style="display:none;">
                              <h3>Register</h3>
                              <form action="/auth/register"
                                   method="post">
                                   <div class="form-group">
                                        <label
                                             for="registerName">Name</label>
                                        <input type="text"
                                             name="registerName"
                                             class="form-control"
                                             id="registerName"
                                             placeholder="Enter your name"
                                             required>
                                   </div>

                                   <div class="form-group">
                                        <label
                                             for="registerPhone">Phone</label>
                                        <input type="tel"
                                             name="registerPhone"
                                             class="form-control"
                                             id="registerPhone"
                                             placeholder="Enter your phone"
                                             required>
                                   </div>

                                   <div class="form-group">
                                        <label
                                             for="registerEmail">Email</label>
                                        <div class="d-flex">
                                             <input
                                                  type="email"
                                                  name="registerEmail"
                                                  class="form-control"
                                                  id="registerEmail"
                                                  placeholder="Enter your email"
                                                  required>
                                             <button
                                                  type="button"
                                                  class="btn btn-primary ms-2"
                                                  id="verifyButton"
                                                  onclick="showVerificationCode()">Verify</button>
                                        </div>

                                        <!-- Initially hidden verification section -->
                                        <div class="form-group"
                                             id="verifySection"
                                             style="display: none;">
                                             <label
                                                  for="registerCode">Verification
                                                  Code</label>
                                             <input
                                                  type="text"
                                                  name="registerCode"
                                                  class="form-control"
                                                  id="registerCode"
                                                  placeholder="Enter your verification code"
                                                  maxlength="6"
                                                  required>
                                        </div>
                                   </div>

                                   <div class="form-group">
                                        <label
                                             for="registerPassword">Password</label>
                                        <input
                                             type="password"
                                             name="registerPassword"
                                             class="form-control"
                                             id="registerPassword"
                                             placeholder="Enter your password"
                                             required>
                                   </div>

                                   <div class="form-group">
                                        <label
                                             for="confirmPassword">Confirm
                                             Password</label>
                                        <input
                                             type="password"
                                             name="confirm-password"
                                             class="form-control"
                                             id="confirmPassword"
                                             placeholder="Confirm your password"
                                             required>
                                   </div>

                                   <div class="form-group">
                                        <p class="text-center text-danger d-none"
                                             id="registerError">
                                             Some error
                                             occurred.
                                             Please check
                                             the form.</p>
                                        <button
                                             type="submit"
                                             class="form-control btn btn-primary"
                                             id="cf-submit">Register</button>
                                   </div>
                              </form>


                              <p class="text-center mt-3">
                                   Already have an account?
                                   <a href="javascript:void(0);"
                                        id="showLogin">Login
                                        here</a>
                              </p>
                         </div>
                    </div>

                    <script>
                         // Toggle between Login and Register forms
                         document.getElementById('showRegister').addEventListener('click', function () {
                              document.getElementById('loginForm').style.display = 'none';
                              document.getElementById('registerForm').style.display = 'block';
                         });

                         document.getElementById('showLogin').addEventListener('click', function () {
                              document.getElementById('registerForm').style.display = 'none';
                              document.getElementById('loginForm').style.display = 'block';
                         });

                         // Function to show the verification code input and change button text
                         // Show the verification code input
                         function showVerificationCode() {
                              // Get the verification section and button
                              var verifySection = document.getElementById('verifySection');
                              var verifyButton = document.getElementById('verifyButton');
                              verifySection.style.display = 'block'; // Make the section visible
                              // Change the button text
                              verifyButton.textContent = 'Resend OTP'; // Change button text
                              // Disable the email input field after clicking verify
                              document.getElementById('registerEmail').disabled = true;
                         }

                    </script>

               </div>
          </div>
     </div>


     <!-- HOME -->
     <section id="home" class="slider"
          data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="owl-carousel owl-theme">
                         <!-- Individual Counseling -->
                         <div class="item item-first">
                              <div class="caption">
                                   <div
                                        class="col-md-offset-1 col-md-10">
                                        <h3>Overcoming
                                             Stress, Anxiety
                                             & Depression
                                        </h3>
                                        <h1>Personalized
                                             One-on-One
                                             Counseling</h1>
                                        <ul
                                             class="list-inline">
                                             <li>Private &
                                                  Confidential
                                             </li>
                                             <li>Professional
                                                  Counseling
                                             </li>
                                             <li>Flexible
                                                  Schedule
                                             </li>
                                             <li>Evidence-Based
                                                  Therapy
                                             </li>
                                             <li>Compassionate
                                                  Guidance
                                             </li>
                                        </ul>
                                        <a href="#appointment"
                                             class="section-btn btn btn-default smoothScroll">Schedule
                                             Your
                                             Session</a>
                                   </div>
                              </div>
                         </div>

                         <!-- Group Support -->
                         <div class="item item-second">
                              <div class="caption">
                                   <div
                                        class="col-md-offset-1 col-md-10">
                                        <h3>Connect, Share &
                                             Heal</h3>
                                        <h1>Support Groups &
                                             Community
                                             Workshops</h1>
                                        <ul
                                             class="list-inline">
                                             <li>Peer
                                                  Support &
                                                  Shared
                                                  Experiences
                                             </li>
                                             <li>Expert-Led
                                                  Group
                                                  Therapy
                                             </li>
                                             <li>Workshops
                                                  for
                                                  Emotional
                                                  Growth
                                             </li>
                                             <li>Safe &
                                                  Non-Judgmental
                                                  Space</li>
                                        </ul>
                                        <a href="#about"
                                             class="section-btn btn btn-default btn-gray smoothScroll">Join
                                             Now</a>
                                   </div>
                              </div>
                         </div>

                         <!-- Mindfulness Programs -->
                         <div class="item item-third">
                              <div class="caption">
                                   <div
                                        class="col-md-offset-1 col-md-10">
                                        <h3>Calm Your Mind &
                                             Body</h3>
                                        <h1>Transform Your
                                             Mind with
                                             Mindfulness
                                        </h1>
                                        <ul
                                             class="list-inline">
                                             <li>Meditation
                                                  &
                                                  Breathing
                                                  Techniques
                                             </li>
                                             <li>Stress
                                                  Reduction
                                                  Strategies
                                             </li>
                                             <li>Increased
                                                  Mental
                                                  Clarity
                                             </li>
                                             <li>Improved
                                                  Emotional
                                                  Balance
                                             </li>
                                        </ul>
                                        <a href="#news"
                                             class="section-btn btn btn-default btn-blue smoothScroll">Start
                                             Your
                                             Journey</a>
                                   </div>
                              </div>
                         </div>

                         <!-- Specialized Interventions -->
                         <div class="item item-fourth">
                              <div class="caption">
                                   <div
                                        class="col-md-offset-1 col-md-10">
                                        <h3>Stronger Mind,
                                             Brighter Future
                                        </h3>
                                        <h1>Tailored Therapy
                                             for Emotional
                                             Resilience</h1>
                                        <ul
                                             class="list-inline">
                                             <li>Trauma
                                                  Therapy &
                                                  PTSD
                                                  Support
                                             </li>
                                             <li>Emotional
                                                  Balance &
                                                  Coping
                                                  Skills
                                             </li>
                                             <li>Resilience
                                                  & Personal
                                                  Growth
                                             </li>
                                             <li>Customized
                                                  Therapy
                                                  Plans</li>
                                        </ul>
                                        <a href="#news"
                                             class="section-btn btn btn-default btn-blue smoothScroll">Start
                                             Your
                                             Journey</a>
                                   </div>
                              </div>
                         </div>
                    </div>


               </div>
          </div>
     </section>


     <!-- ABOUT -->

     <section id="about">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp"
                                   data-wow-delay="0.6s">
                                   WELCOME TO MY <i
                                        class="fa fa--square"></i>MIND
                                   VIBES</h2>
                              <div class="wow fadeInUp"
                                   data-wow-delay="0.8s">
                                   <p class="content-text">

                                        At <b>MindVibe</b>,
                                        we believe that
                                        mental well-being is
                                        the cornerstone of a
                                        fulfilling and
                                        balanced life. Our
                                        mission is to
                                        provide accessible,
                                        empathetic, and
                                        professional
                                        psychological
                                        support tailored to
                                        individual needs. We
                                        understand that
                                        everyone’s journey
                                        is unique, and we
                                        are here to walk
                                        with you every step
                                        of the way.
                                   </p>
                                   <p>
                                        Founded by <b>Shaeza
                                             Mariyem
                                             Paravakkal</b>,
                                        a consultant
                                        psychologist with a
                                        passion for
                                        empowering
                                        individuals to
                                        overcome emotional
                                        and psychological
                                        challenges, MindVibe
                                        is built on a
                                        foundation of
                                        compassion and
                                        expertise. With
                                        years of experience
                                        in counseling and
                                        mental health
                                        advocacy, Shaeza has
                                        dedicated herself to
                                        creating a safe
                                        space where
                                        individuals can
                                        heal, grow, and
                                        thrive.
                                   </p>



                              </div>
                              <figure
                                   class="profile wow fadeInUp"
                                   data-wow-delay="1s">
                                   <img src="images/author-image.jpg"
                                        class="img-responsive"
                                        alt="">
                                   <figcaption>
                                        <h3>Dr. Shaeza
                                             Mariyem</h3>
                                        <p>Psychologist</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section id="">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp"
                                   data-wow-delay="0.6s">
                                   WHY CHOOSE <i
                                        class="fa fa--square"></i>
                                   MINDVIBE?
                              </h2>
                              <div class="wow fadeInUp"
                                   data-wow-delay="0.8s">
                                   <ul class="content-text">
                                        <li>Evidence-based
                                             therapeutic
                                             techniques.
                                        </li>
                                        <li>A warm,
                                             non-judgmental
                                             environment.
                                        </li>
                                        <li>Flexible online
                                             and offline
                                             sessions to
                                             meet your
                                             needs.</li>
                                        <li>Affordable
                                             services
                                             designed to
                                             make mental
                                             health support
                                             accessible to
                                             everyone.</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-6 col-sm-6">

                         <h2 class="wow fadeInUp"
                              data-wow-delay="1s">
                              ABOUT <i
                                   class="fa fa--square"></i>
                              SHAEZA MARIYEM PARAVAKKAL
                         </h2>
                         <div class="wow fadeInUp"
                              data-wow-delay="1.2s">
                              <p>Shaeza is not just a
                                   psychologist but also a
                                   mental health advocate
                                   inspired by her own
                                   personal experiences and
                                   challenges. Shaeza has
                                   transformed her journey
                                   into a mission to break
                                   the stigma around mental
                                   health and ensure
                                   psychological support
                                   reaches even the
                                   underserved.</p>
                              <p>Through MindVibe, she
                                   envisions building a
                                   mental health community
                                   that prioritizes
                                   emotional wellness,
                                   cognitive development,
                                   and mindfulness. Her
                                   expertise, combined with
                                   her ability to connect
                                   deeply with clients, has
                                   helped hundreds find
                                   their path to healing and
                                   self-empowerment.</p>
                         </div>
                         <figure
                              class="profile wow fadeInUp"
                              data-wow-delay="1.4s">
                              <img src="images/author-image.jpg"
                                   class="img-responsive"
                                   alt="">
                              <figcaption>
                                   <h3>Dr. Shaeza Mariyem
                                   </h3>
                                   <p>Psychologist</p>
                              </figcaption>
                         </figure>
                    </div>
               </div>
          </div>
     </section>


     <!-- TEAM -->
     <section id="team" data-stellar-background-ratio="1">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp"
                                   data-wow-delay="0.1s">
                                   What We Offer</h2>
                         </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-3 col-sm-6 ">
                         <div class="team-thumb wow fadeInUp"
                              data-wow-delay="0.2s">
                              <img src="images/image1.jpg"
                                   class="img-responsive"
                                   alt="">

                              <div class="team-info">
                                   <h3>Individual Counseling
                                   </h3>
                                   <p>Personalized support
                                        to help you navigate
                                        anxiety, depression,
                                        stress, and more</p>
                                   <!-- <div
                                        class="team-contact-info">
                                        <p><i class="fa fa-phone"></i>
                                             010-020-0120
                                        </p>
                                        <p><i class="fa fa-envelope-o"></i>
                                             <a
                                                  href="#">general@company.com</a>
                                        </p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="#"
                                                  class="fa fa-linkedin-square"></a>
                                        </li>
                                        <li><a href="#"
                                                  class="fa fa-envelope-o"></a>
                                        </li>
                                   </ul> -->
                              </div>

                         </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb wow fadeInUp"
                              data-wow-delay="0.2s">
                              <img src="images/image2.jpg"
                                   class="img-responsive"
                                   alt="">

                              <div class="team-info">
                                   <h3>Group Support</h3>
                                   <p>A sense of community
                                        and collective
                                        healing through
                                        workshops and
                                        support groups.</p>

                              </div>

                         </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb wow fadeInUp"
                              data-wow-delay="0.2s">
                              <img src="images/image3.jpg"
                                   class="img-responsive"
                                   alt="">

                              <div class="team-info">
                                   <h3>Mindfulness Programs
                                   </h3>
                                   <p>Tools to help you stay
                                        present, manage
                                        stress, and improve
                                        focus.</p>

                              </div>

                         </div>
                    </div>
                    <!-- <div class="clearfix"></div> -->
                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb wow fadeInUp"
                              data-wow-delay="0.2s">
                              <img src="images/image4.jpg"
                                   class="img-responsive"
                                   alt="">

                              <div class="team-info">
                                   <h3>Specialized
                                        Interventions</h3>
                                   <p>Tailored approaches
                                        for trauma recovery,
                                        emotional
                                        regulation, and
                                        mental resilience.
                                   </p>

                              </div>

                         </div>
                    </div>



               </div>
          </div>
     </section>


     <!-- NEWS -->
     <!-- <section id="news" data-stellar-background-ratio="2.5">
          <div class="container">
               <div class="row"> -->

     <!-- <div class="col-md-12 col-sm-12"> -->
     <!-- SECTION TITLE -->
     <!-- <div class="section-title wow fadeInUp"
                              data-wow-delay="0.1s">
                              <h2>Latest News</h2>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6"> -->
     <!-- NEWS THUMB -->
     <!-- <div class="news-thumb wow fadeInUp"
                              data-wow-delay="0.4s">
                              <a href="/news-detail">
                                   <img src="images/news-image1.jpg"
                                        class="img-responsive"
                                        alt="">
                              </a>
                              <div class="news-info">
                                   <span>March 08,
                                        2018</span>
                                   <h3><a
                                             href="/news-detail">About
                                             Amazing
                                             Technology</a>
                                   </h3>
                                   <p>Maecenas risus neque,
                                        placerat volutpat
                                        tempor ut, vehicula
                                        et felis.</p>
                                   <div class="author">
                                        <img src="images/author-image.jpg"
                                             class="img-responsive"
                                             alt="">
                                        <div
                                             class="author-info">
                                             <h5>Jeremie
                                                  Carlson
                                             </h5>
                                             <p>CEO /
                                                  Founder 
                                             </p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6"> -->
     <!-- NEWS THUMB -->
     <!-- <div class="news-thumb wow fadeInUp"
                              data-wow-delay="0.6s">
                              <a href="/news-detail">
                                   <img src="images/news-image2.jpg"
                                        class="img-responsive"
                                        alt="">
                              </a>
                              <div class="news-info">
                                   <span>February 20,
                                        2018</span>
                                   <h3><a
                                             href="/news-detail">Introducing
                                             a new healing
                                             process</a>
                                   </h3>
                                   <p>Fusce vel sem finibus,
                                        rhoncus massa non,
                                        aliquam velit. Nam
                                        et est ligula.</p>
                                   <div class="author">
                                        <img src="images/author-image.jpg"
                                             class="img-responsive"
                                             alt="">
                                        <div
                                             class="author-info">
                                             <h5>Jason
                                                  Stewart
                                             </h5>
                                             <p>General
                                                  Director
                                             </p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6"> -->
     <!-- NEWS THUMB -->
     <!-- <div class="news-thumb wow fadeInUp"
                              data-wow-delay="0.8s">
                              <a href="views//news-detail">
                                   <img src="images/news-image3.jpg"
                                        class="img-responsive"
                                        alt="">
                              </a>
                              <div class="news-info">
                                   <span>January 27,
                                        2018</span>
                                   <h3><a
                                             href="/news-detail">Review
                                             Annual Medical
                                             Research</a>
                                   </h3>
                                   <p>Vivamus non nulla
                                        semper diam cursus
                                        maximus.
                                        Pellentesque
                                        dignissim.</p>
                                   <div class="author">
                                        <img src="images/author-image.jpg"
                                             class="img-responsive"
                                             alt="">
                                        <div
                                             class="author-info">
                                             <h5>Andrio
                                                  Abero</h5>
                                             <p>Online
                                                  Advertising
                                             </p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section> -->


     <!-- MAKE AN APPOINTMENT -->
     <section id="appointment"
          data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-6">
                         <img src="images/appointment-image.jpg"
                              class="img-responsive" alt="">
                    </div>

                    <div class="col-md-6 col-sm-6">

                         <!-- Appointment Form -->
                         <form id="appointment-form"
                              role="form">
                              <div class="section-title wow fadeInUp"
                                   data-wow-delay="0.4s">
                                   <h2>Make an appointment
                                   </h2>
                              </div>
                              <div class="wow fadeInUp"
                                   data-wow-delay="0.8s">
                                   <div
                                        class="col-md-6 col-sm-6">
                                        <label
                                             for="name">Name</label>
                                        <input type="text"
                                             class="form-control"
                                             id="name"
                                             name="name"
                                             placeholder="Full Name">
                                   </div>
                                   <div
                                        class="col-md-6 col-sm-6">
                                        <label
                                             for="email">Email</label>
                                        <input type="email"
                                             class="form-control"
                                             id="email"
                                             name="email"
                                             placeholder="Your Email">
                                   </div>
                                   <div
                                        class="col-md-6 col-sm-6">
                                        <label
                                             for="date">Select
                                             Date</label>
                                        <input type="date"
                                             name="date"
                                             class="form-control"
                                             id="date">
                                   </div>
                                   <div
                                        class="col-md-6 col-sm-6">
                                        <label
                                             for="time">Decide
                                             on Time</label>
                                        <input type="time"
                                             name="time"
                                             class="form-control"
                                             id="time">
                                   </div>
                                   <div
                                        class="col-md-12 col-sm-12">
                                        <label
                                             for="department">Select
                                             A
                                             Program</label>
                                        <select
                                             class="form-control"
                                             id="department"
                                             name="department">
                                             <option
                                                  value="">
                                                  -- Select
                                                  Department
                                                  --
                                             </option>
                                             <option
                                                  value="Individual Counseling">
                                                  Individual
                                                  Counseling
                                             </option>
                                             <option
                                                  value="Group Support">
                                                  Group
                                                  Support
                                             </option>
                                             <option
                                                  value="Mindfulness Programs">
                                                  Mindfulness
                                                  Programs
                                             </option>
                                             <option
                                                  value="Specialized Interventions">
                                                  Specialized
                                                  Interventions
                                             </option>
                                        </select>
                                   </div>
                                   <div
                                        class="col-md-12 col-sm-12">
                                        <label
                                             for="telephone">Phone
                                             Number</label>
                                        <input type="tel"
                                             class="form-control"
                                             id="phone"
                                             name="phone"
                                             placeholder="Phone"
                                             onchange="toggleSubmitButton()">
                                   </div>
                                   <div
                                        class="col-md-12 col-sm-12">
                                        <label
                                             for="message">Additional
                                             Message</label>
                                        <textarea
                                             class="form-control"
                                             rows="5"
                                             id="message"
                                             name="message"
                                             placeholder="Message"
                                             onchange="toggleSubmitButton()"></textarea>
                                   </div>

                                   <div
                                        class="col-md-12 col-sm-12">
                                        <button
                                             type="submit"
                                             class="form-control"
                                             id="cf-submit"
                                             disabled>Submit</button>
                                   </div>
                                   <div
                                        class="col-md-12 col-sm-12">
                                        <p id="errorMessage"
                                             class="text-danger">
                                        </p>
                                   </div>
                              </div>
                         </form>


                         <script>
                              // Handle form submission
                              document.getElementById('appointment-form').addEventListener('submit', async function (event) {
                                   event.preventDefault();

                                   const formData = {
                                        name: document.getElementById('name').value,
                                        email: document.getElementById('email').value,
                                        phone: document.getElementById('phone').value,
                                        date: document.getElementById('date').value,
                                        time: document.getElementById('time').value,
                                        department: document.getElementById('department').value,
                                        message: document.getElementById('message').value,
                                   };

                                   try {
                                        const response = await fetch('/booking/create', {
                                             method: 'POST',
                                             headers: { 'Content-Type': 'application/json' },
                                             body: JSON.stringify(formData),
                                        });

                                        if (!response.ok) {
                                             const errorData = await response.json();
                                             toastr.error(errorData.error || 'An error occurred. Please try again.');
                                             return;
                                        }

                                        const data = await response.json();
                                        toastr.success(data.message || 'Appointment created successfully!');
                                   } catch (error) {
                                        toastr.error('An unexpected error occurred. Please try again later.');
                                   }
                              });

                         </script>
                    </div>
               </div>
          </div>
     </section>

     <script>
          function showForm(formType) {
               const appointmentForm = document.getElementById('appointment-form');
               const loginForm = document.getElementById('login-form');
               const registerForm = document.getElementById('register-form');

               // Hide all forms
               appointmentForm.style.display = 'none';
               loginForm.style.display = 'none';
               registerForm.style.display = 'none';

               // Show the selected form
               if (formType === 'appointment') {
                    appointmentForm.style.display = 'block';
               } else if (formType === 'login') {
                    loginForm.style.display = 'block';
               } else if (formType === 'register') {
                    registerForm.style.display = 'block';
               }
          }
     </script>




     <!-- GOOGLE MAP -->
     <section id="google-map">
          <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->

          <iframe
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62639.09007867395!2d76.07085426601154!3d11.117613547336457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6367a09827289%3A0xa5bab8b1f3018ca4!2sManjeri%2C%20Kerala%2C%20India!5e0!3m2!1sen!2sae!4v1733637380966!5m2!1sen!2sae"
               width="100%" height="350" style="border:0;"
               allowfullscreen></iframe>
     </section>


     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp"
                                   data-wow-delay="0.4s">
                                   Contact Info</h4>
                              <p>Fusce at libero iaculis,
                                   venenatis augue quis,
                                   pharetra lorem. Curabitur
                                   ut dolor eu elit
                                   consequat ultricies.</p>

                              <div class="contact-info">
                                   <p><i class="fa fa-phone"></i>
                                        940 036 6533</p>
                                   <p><i class="fa fa-envelope-o"></i>
                                        <a
                                             href="mailto:mindvibe@gmail.com">mindvibe@gmail.com</a>
                                   </p>
                              </div>
                         </div>
                    </div>

                    <!-- <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp"
                                   data-wow-delay="0.4s">
                                   Latest News</h4>
                              <div class="latest-stories">
                                   <div
                                        class="stories-image">
                                        <a href="#"><img
                                                  src="images/news-image.jpg"
                                                  class="img-responsive"
                                                  alt=""></a>
                                   </div>
                                   <div
                                        class="stories-info">
                                        <a href="#">
                                             <h5>Amazing
                                                  Technology
                                             </h5>
                                        </a>
                                        <span>March 08,
                                             2018</span>
                                   </div>
                              </div>

                              <div class="latest-stories">
                                   <div
                                        class="stories-image">
                                        <a href="#"><img
                                                  src="images/news-image.jpg"
                                                  class="img-responsive"
                                                  alt=""></a>
                                   </div>
                                   <div
                                        class="stories-info">
                                        <a href="#">
                                             <h5>New Healing
                                                  Process
                                             </h5>
                                        </a>
                                        <span>February 20,
                                             2018</span>
                                   </div>
                              </div>
                         </div>
                    </div> -->

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <div class="opening-hours">
                                   <h4 class="wow fadeInUp"
                                        data-wow-delay="0.4s">
                                        Opening Hours</h4>
                                   <p>Monday - Friday
                                        <span>06:00 AM -
                                             10:00 PM</span>
                                   </p>
                                   <p>Saturday <span>09:00
                                             AM - 08:00
                                             PM</span></p>
                                   <p>Sunday
                                        <span>Closed</span>
                                   </p>
                              </div>

                              <ul class="social-icon">
                                   <!-- <li><a href="https://www.facebook.com/tooplate"
                                             class="fa fa-facebook-square"
                                             attr="facebook icon"></a>
                                   </li>
                                   <li><a href="#"
                                             class="fa fa-twitter"></a>
                                   </li> -->
                                   <li><a href="https://www.instagram.com/mindvibe?igsh=MTI0MjdsajRtOWR6aA=="
                                             class="fa fa-instagram"></a>
                                   </li>
                              </ul>
                         </div>
                    </div>

                    <div
                         class="col-md-12 col-sm-12 border-top">
                         <div class="col-md-4 col-sm-6">
                              <div class="copyright-text">
                                   <p>Copyright &copy; 2024
                                        NUETRINO CODE STUDIO

                                        | Design: <a
                                             href="http://www.tooplate.com"
                                             target="_parent">NUETRINO
                                             CODE STUDIO</a>
                                   </p>
                              </div>
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <div class="footer-link">
                                   <a href="#">Laboratory
                                        Tests</a>
                                   <a
                                        href="#">Departments</a>
                                   <a href="#">Insurance
                                        Policy</a>
                                   <a href="#">Careers</a>
                              </div>
                         </div>
                         <div
                              class="col-md-2 col-sm-2 text-align-center">
                              <div class="angle-up-btn">
                                   <a href="#top"
                                        class="smoothScroll wow fadeInUp"
                                        data-wow-delay="1.2s"><i
                                             class="fa fa-angle-up"></i></a>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/jquery.sticky.js"></script>
     <script src="js/jquery.stellar.min.js"></script>
     <script src="js/wow.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/custom.js"></script>
     <script src="js/validations.js"></script>

</body>

</html>